@model WebApplication1.Application.ViewModels.ItemViewModel

<h2>Detalhes do Item</h2>

<div>
    <dl>
        <dt>Modelo</dt>
        <dd>@Model.Modelo</dd>

        <dt>Categoria</dt>
        <dd>@Model.Categoria</dd>

        <dt>Patrimônio</dt>
        <dd>@Model.Patrimonio</dd>

        <dt>Número de Série</dt>
        <dd>@Model.NumeroSerie</dd>
    </dl>
</div>

<a asp-action="Index">Voltar</a>
<a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
<a asp-action="Delete" asp-route-id="@Model.Id">Excluir</a>
